# Python
__pycache__/
*.py[cod]
.env
*.egg-info/
.venv/
venv/

# Flutter
scamshield_app/.dart_tool/
scamshield_app/build/
scamshield_app/.flutter-plugins
scamshield_app/.flutter-plugins-dependencies
scamshield_app/pubspec.lock

# IDE
.vscode/
.idea/
*.iml
